.App {
  text-align: center;
}

.Main {
  background-image: url('./images/carros_avenida.png');
  background-size: cover;
  color: #E12C30;
  padding-top: 10vh;
}

.FormVideo {
  background-color: #E12C30;
}

.FormVideo form {
  background-color: #CE282B;
  border-radius: 24px;
  height: 464px;
  width: 720px;
}

.FormVideo form input {
  border-radius: 24px;
  font-size: 24px;
  height: 106px;
  width: 602px;
}

.FormVideo form input::placeholder {
  color: #676767;
}

.FormVideo form button {
  width: 602px;
}

.reason {
  border-radius: 21px;
  font-size: 30px;
  height: 235.46px;
  width: 674.4px;
}

.reason span {
  background-color: #E12C30;
  height: 153px;
  width: 153px;
}

.reason-why {
  background-color: #E12C30;
  color: white;
}

.reason-why article {
  width: 50vw;
}

.reason-why article h1, .reason-why article h2 {
  font-size: 60px;
}

.reason-why img {
  height: 348px;
  width: 395px;
}

.Info {
  font-size: 36px;
}

.Info h2 {
  font-size: 42px;
}

.Main button, .FormVideo button, .Info button {
  background-color: #12D01A;
  font-size: 30px;
}

.Info button {
  width: 834px;
}

@media screen and (max-width: 450px) {
  .Main button, .FormVideo button, .Info button {
    font-size: 23px;
  }

  .Main button {
    margin: 0 auto;
  }
  
  .main-section {
    background-size: inherit;
    flex-wrap: wrap;
    gap: 10px;
    width: 100vw;
  }

  .main-section img {
    width: 80vw;
  }

  .main-section-1 {
    order: 2;
  }

  .main-section-2 {
    gap: 10px;
    justify-content: center;
    text-align: center;
  }

  .main-section-2 button {
    order: 2;
  }

  .main-section-2 img {
    margin: 20px auto;
    width: 30vw;
  }
  
  .main-section-2 h1 {
    font-size: 35px;
  }

  .FormVideo form {
    height: 447px;
    width: 349px;
  }

  .FormVideo form input {
    font-size: 18px;
    height: 88px;
    width: 304px;
  }
  
  .FormVideo form button {
    width: 304px;
  }

  .reason {
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 24px;
    height: 406px;
    margin: 0!important;
    width: 309px;
  }

  .reason span {
    height: 120px;
    margin: 0!important;
    width: 120px;
  }

  .reason span img {
    height: 70px;
    width: 70px;
  }
  .reason p {
    margin: 0!important;
  }

  .reason-order-1 {
    order: 1;
  }

  .reason-why {
    flex-direction: column;
    text-align: center;
  }

  .reason-why article {
    padding: 0;
    width: 90vw;
  }
  .reason-why article h1 {
    font-size: 30px;
  }

  .reason-why article h2 {
    font-size: 24px;
  }

  .reason-why img {
    width: 100vw;
  }

  .info-content {
    flex-direction: column;
    font-size: 18px;
    text-align: justify;
  }

  .info-content article {
    margin: 3rem 0;
  }

  .Info h2 {
    font-size: 30px;
    padding: 3rem;
    margin: 0;
  }

  .Info button {
    width: 325px;
  }

  .carrs-park {
    margin: 0;
    width: 100%;
  }

  .wallet {
    margin: 0 auto;
    width: 285px;
  }
}
