.App {
  text-align: center;
}

.Main {
  background-image: url('./images/carros_avenida.png');
  background-size: cover;
  color: #E12C30;
  padding-top: 10vh;
}

.FormVideo {
  background-color: #E12C30;
}

.FormVideo form {
  background-color: #CE282B;
  border-radius: 24px;
  height: 464px;
  width: 720px;
}

.FormVideo form input {
  border-radius: 24px;
  font-size: 24px;
  height: 106px;
  width: 602px;
}

.FormVideo form input::placeholder {
  color: #676767;
}

.FormVideo form button {
  width: 602px;
}

.reason {
  background-color: #E12C30;
  border-radius: 21px;
  font-size: 30px;
  height: 235.46px;
  width: 674.4px;
}

.reason span {
  height: 153px;
  width: 153px;
}

.reason-why {
  background-color: #E12C30;
  color: white;
  font-size: 60px;
}

.reason-why section {
  width: 50vw;
}

@media screen and (max-width: 450px) {
  .main-section {
    background-size: inherit;
    flex-wrap: wrap;
    gap: 10px;
    width: 100vw;
  }

  .main-section img {
    width: 80vw;
  }

  .main-section-1 {
    order: 2;
  }

  .main-section-2 {
    text-align: center;
    gap: 10px;
  }

  .main-section-2 button {
    order: 2;
    margin: 0 auto;
  }

  .main-section-2 img {
    width: 30vw;
    margin: 0 auto;
  }
  
  .main-section-2 h1 {
    font-size: 35px;
  }

  .FormVideo form {
    height: 447px;
    width: 349px;
  }

  .FormVideo form input {
    height: 88px;
    width: 304px;
  }
  
  .FormVideo form button {
    width: 304px;
  }
}

