.App {
  text-align: center;
}

.Main {
  background-image: url('./images/carros_avenida.png');
  background-size: cover;
  padding-top: 10vh;
}

@media screen and (max-width: 450px) {
  .main-section {
    background-size: inherit;
    flex-wrap: wrap;
    gap: 10px;
    width: 100vw;
  }

  .main-section img {
    width: 80vw;
  }

  .main-section-1 {
    order: 2;
  }

  .main-section-2 {
    text-align: center;
    gap: 10px;
  }

  .main-section-2 button {
    order: 2;
    margin: 0 auto;
  }

  .main-section-2 img {
    width: 30vw;
    margin: 0 auto;
  }
  
  .main-section-2 h1 {
    font-size: 35px;
  }

}